@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #010101;
  --text: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --text: #000000;
  }
}

body {
  color: var(--text);
  background: var(--bg);
  scroll-behavior: smooth;
}

.section-padding {
  @apply px-6 lg:px-[131px];
}
